body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.output-group {
    text-align: left; /* ou outra propriedade conforme o design desejado */
}

.toggle-premiacao {
    padding: 10px 5px;
    margin-top: 15px;
    background-color: #9b5fb6; /* Cor de fundo roxo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas levemente arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Transição suave para hover e active states */
    outline: none; /* Remove o contorno quando focado (clicado) */
}

.toggle-premiacao:hover {
    background-color: #a66bbe; /* Cor de fundo mais clara quando o mouse passa por cima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreamento para efeito de elevação */
}

.toggle-premiacao:active {
    background-color: #80598b; /* Cor de fundo mais escura quando o botão é pressionado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento mais próximo para efeito de pressionamento */
    transform: translateY(1px); /* Desloca o botão ligeiramente para baixo quando pressionado */
}



.container {
    width: 80%;
    max-width: 1200px; /* Ajuste a largura máxima conforme necessário */
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.input-group, .output-group {
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.file-label:hover {
    background-color: #ccc;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border: 1px solid #6a397b;
    border-radius: 10px; /* Arredondando as bordas da tabela */
    overflow: hidden; /* Isso garante que o conteúdo interno não ultrapasse o border-radius */
}

th, td {
    padding: 10px;
    text-align: left;
    word-break: break-word;
    border-bottom: 1px solid #6a397b; /* Linhas horizontais */
    border-right: 1px solid #6a397b; /* Linhas verticais */
}

th {
    background-color: #9b5fb6;
    color: white;
}

/* Estilos para as linhas ímpares e pares da tabela */
tr:nth-child(odd) td {
    background-color: #f3e5f5;
}

tr:nth-child(even) td {
    background-color: #e1bee7;
}

/* Remove a borda direita do último td de cada linha para evitar duplicação da borda */
td:last-child {
    border-right: none;
}

/* Remove a borda inferior do último td de cada coluna para evitar duplicação da borda */
tr:last-child td {
    border-bottom: none;
}


/* Adicione estilos específicos para as colunas se necessário */
th:nth-child(1), td:nth-child(1) { width: 10%; } /* Coluna Jogo */
th:nth-child(2), td:nth-child(2) { width: 10%; } /* Coluna Acertos */
th:nth-child(3), td:nth-child(3) { width: 20%; } /* Coluna DZ/Por jogos */
th:nth-child(4), td:nth-child(4) { width: 60%; } /* Coluna Números Acertados */

/* Estilos para telas com largura menor que 600px */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        max-width: none; /* Permite que o container se expanda até a margem da tela */
    }

    table, th, td {
        font-size: 12px; /* Diminui o tamanho da fonte para economizar espaço */
    }

    th:nth-child(1), td:nth-child(1),
    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3),
    th:nth-child(4), td:nth-child(4) {
        padding: 5px; /* Reduz o preenchimento dentro das células */
        width: auto; /* Permite que as células se ajustem automaticamente */
    }

    .input-group, .output-group {
        display: flex; /* Usa flexbox para organizar os elementos */
        flex-direction: column; /* Organiza os elementos em coluna no mobile */
        align-items: center; /* Centraliza os elementos horizontalmente */
    }

    input[type="text"], textarea {
        width: 85%; /* Faz as caixas de texto usarem toda a largura disponível */
        box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
        margin-bottom: 10px; /* Adiciona espaço entre as caixas de texto e o botão */
    }

    .file-label {
        width: auto; /* Permite que o botão se ajuste ao conteúdo */
        padding: 10px; /* Ajusta o padding para melhor toque no mobile */
    }
   
    }


