body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.output-group {
    text-align: left; /* ou outra propriedade conforme o design desejado */
}

.toggle-premiacao {
    margin-top: 15px;
    
}


.container {
    width: 80%;
    max-width: 1200px; /* Ajuste a largura máxima conforme necessário */
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.input-group, .output-group {
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.file-label:hover {
    background-color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    word-break: break-word; /* Permite a quebra de texto dentro da célula */
}

th {
    background-color: #f2f2f2;
}

/* Adicione estilos específicos para as colunas se necessário */
th:nth-child(1), td:nth-child(1) { width: 10%; } /* Coluna Jogo */
th:nth-child(2), td:nth-child(2) { width: 10%; } /* Coluna Acertos */
th:nth-child(3), td:nth-child(3) { width: 20%; } /* Coluna DZ/Por jogos */
th:nth-child(4), td:nth-child(4) { width: 60%; } /* Coluna Números Acertados */

/* Estilos para telas com largura menor que 600px */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        max-width: none; /* Permite que o container se expanda até a margem da tela */
    }

    table, th, td {
        font-size: 12px; /* Diminui o tamanho da fonte para economizar espaço */
    }

    th:nth-child(1), td:nth-child(1),
    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3),
    th:nth-child(4), td:nth-child(4) {
        padding: 5px; /* Reduz o preenchimento dentro das células */
        width: auto; /* Permite que as células se ajustem automaticamente */
    }

    .input-group, .output-group {
        display: flex; /* Usa flexbox para organizar os elementos */
        flex-direction: column; /* Organiza os elementos em coluna no mobile */
        align-items: center; /* Centraliza os elementos horizontalmente */
    }

    input[type="text"], textarea {
        width: 85%; /* Faz as caixas de texto usarem toda a largura disponível */
        box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura */
        margin-bottom: 10px; /* Adiciona espaço entre as caixas de texto e o botão */
    }

    .file-label {
        width: auto; /* Permite que o botão se ajuste ao conteúdo */
        padding: 10px; /* Ajusta o padding para melhor toque no mobile */
    }
   
    }


